.nav-bar {
  display: flex;
  justify-content: space-between; /* O space-between */
  background-color: #1d1d1d;
  padding-left: 100px;
  padding: 5px 0;
}

.logo-container {
  display: flex;
  align-items: center;
}
